/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f8f9fa!important;
}
